a:hover {
    color: #fcfcfc;

}

a:visited {

    color: #909090;
}

body {
    background-color: #000000;
}

p {
    background-image: url("../images/pumpkin.png");

}

.second {
    border: 2px solid #fcfcfc; 
}