@media only screen and (max-width: 600px) 
{
    nav a{width: 100%; display: block;  
        padding: 10px; }
    .blurb{width: 100%; display: block;  
    padding: 100px; }
    span {display: none;}
    .banner{max-width: 100%}
    .footer{width: 100%; display: block;  
        padding: 10px; }
}
